<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:icon="@drawable/clothes"
        android:label="@string/app_name"
        android:roundIcon="@drawable/clothes"
        android:supportsRtl="true"
        android:theme="@style/Theme.ClothesShop"
        tools:targetApi="31">
        <activity
            android:name=".Wellcom"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"/>
        <activity android:name=".Sign_In"/>
        <activity android:name=".Sign_Up" />
    </application>

</manifest>